<a href="https://colab.research.google.com/github/inessellami/QM2-Project-/blob/main/Cleaning_Education_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the raw data in csv form, obtained by copy and pasting the data taken from https://data.ers.usda.gov/reports.aspx?ID=17829&AspxAutoDetectCookieSupport=1#P8af1325ae71d40918a5326c1037788f4_2_200iT2 for not completing high school:

Put Uncleaned Education.csv into the colab

In [63]:
from google.colab import files
uploaded = files.upload()

Saving Uncleaned Education.csv to Uncleaned Education (2).csv

In [65]:
import pandas as pd

Let's take the head to check it looks right:

In [66]:
Edu = pd.read_csv('Uncleaned Education (1).csv')
Edu.head()

            Name  Unnamed: 1    1970  ...  Unnamed: 29 2014-2018.2  Unnamed: 31
0  United States         NaN  47.70%  ...          NaN      14.00%          NaN
1        Alabama         NaN  58.70%  ...          NaN      19.30%          NaN
2         Alaska         NaN  33.30%  ...          NaN       9.20%          NaN
3        Arizona         NaN  41.90%  ...          NaN      18.20%          NaN
4       Arkansas         NaN  60.10%  ...          NaN      16.30%          NaN

[5 rows x 32 columns]

In [67]:
Edu.tail()

             Name  Unnamed: 1    1970  ...  Unnamed: 29 2014-2018.2  Unnamed: 31
48     Washington         NaN  36.50%  ...          NaN      11.50%          NaN
49  West Virginia         NaN  58.40%  ...          NaN      15.90%          NaN
50      Wisconsin         NaN  45.50%  ...          NaN       9.00%          NaN
51        Wyoming         NaN  37.10%  ...          NaN       7.10%          NaN
52    Puerto Rico         NaN     NaN  ...          NaN      27.70%          NaN

[5 rows x 32 columns]

Let's see how many Columns we have so we know which to get rid of:

In [68]:
Edu.columns

Index(['Name', 'Unnamed: 1', '1970', 'Unnamed: 3', '1980', 'Unnamed: 5',
       '1990', 'Unnamed: 7', '2000', 'Unnamed: 9', '2014-2018', 'Unnamed: 11',
       '1970.1', 'Unnamed: 13', '1980.1', 'Unnamed: 15', '1990.1',
       'Unnamed: 17', '2000.1', 'Unnamed: 19', '2014-2018.1', 'Unnamed: 21',
       '1970.2', 'Unnamed: 23', '1980.2', 'Unnamed: 25', '1990.2',
       'Unnamed: 27', '2000.2', 'Unnamed: 29', '2014-2018.2', 'Unnamed: 31'],
      dtype='object')

We must get rid of "Unnamed: 1,3,5,7,9,11 and 12" and rename "Unnamed: 0" to State. 

We also must delete row 0 as the US is not a state and row 52 as Puerto Rico is not included in other data sets we are using.

We must also delete all columns for 1970, 1980, 1990, 2000 and 2014-2018.1, 2014-2018.2 as we are only interested in the 2014/2018 values for the whole state.

In [69]:
Clean1 = Edu.drop('1970', axis=1)
Clean2 = Clean1.drop('1980', axis=1)
Clean3 = Clean2.drop('1990', axis=1)
Clean4 = Clean3.drop('2000', axis=1)
Clean5 = Clean4.drop('2000.1', axis=1)
Clean6 = Clean5.drop('2000.2', axis=1)
Clean7 = Clean6.drop('1990.1', axis=1)
Clean8 = Clean7.drop('1990.2', axis=1)
Clean9 = Clean8.drop('1980.1', axis=1)
Clean10 = Clean9.drop('1980.2', axis=1)
Clean11 = Clean10.drop('1970.1', axis=1)
Clean12 = Clean11.drop('1970.2', axis=1)
Clean13 = Clean12.drop('2014-2018.1', axis=1)
Clean14 = Clean13.drop('2014-2018.2', axis=1)

Clean14.head()

            Name  Unnamed: 1  Unnamed: 3  ...  Unnamed: 27  Unnamed: 29  Unnamed: 31
0  United States         NaN         NaN  ...          NaN          NaN          NaN
1        Alabama         NaN         NaN  ...          NaN          NaN          NaN
2         Alaska         NaN         NaN  ...          NaN          NaN          NaN
3        Arizona         NaN         NaN  ...          NaN          NaN          NaN
4       Arkansas         NaN         NaN  ...          NaN          NaN          NaN

[5 rows x 18 columns]

Let's now rename the first column to 'States' so we can remove all unnamed columns after:

In [70]:
Clean14.rename( columns={'Name':'States'}, inplace=True )
Clean14.head()

          States  Unnamed: 1  Unnamed: 3  ...  Unnamed: 27  Unnamed: 29  Unnamed: 31
0  United States         NaN         NaN  ...          NaN          NaN          NaN
1        Alabama         NaN         NaN  ...          NaN          NaN          NaN
2         Alaska         NaN         NaN  ...          NaN          NaN          NaN
3        Arizona         NaN         NaN  ...          NaN          NaN          NaN
4       Arkansas         NaN         NaN  ...          NaN          NaN          NaN

[5 rows x 18 columns]

Now let's remove the Unnamed columns:

In [71]:
Clean14.drop(Clean14.columns[Clean14.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
Clean14.head()

          States 2014-2018
0  United States    12.30%
1        Alabama    14.20%
2         Alaska     7.30%
3        Arizona    13.20%
4       Arkansas    13.80%

Let's remove row 0 and row 52 and check that the values have been removed by looking at the head and tail.

In [72]:
Clean15 = Clean14.drop(Clean14.index[0])
Clean16 = Clean15.drop(Clean15.index[51])
Clean16.head()

       States 2014-2018
1     Alabama    14.20%
2      Alaska     7.30%
3     Arizona    13.20%
4    Arkansas    13.80%
5  California    17.10%

In [73]:
Clean16.tail()

           States 2014-2018
47       Virginia    10.70%
48     Washington     8.90%
49  West Virginia    13.50%
50      Wisconsin     8.10%
51        Wyoming     7.10%

Let's turn the percentages into numbers so they can be used for graph plotting:

In [112]:
Clean16['2014-2018'] = Clean16['2014-2018'].str.replace('%', '')
print(Clean16)

                  States 2014-2018
1                Alabama     14.20
2                 Alaska      7.30
3                Arizona     13.20
4               Arkansas     13.80
5             California     17.10
6               Colorado      8.60
7            Connecticut      9.50
8               Delaware     10.20
9   District of Columbia      9.40
10               Florida     12.00
11               Georgia     13.30
12                Hawaii      8.20
13                 Idaho      9.40
14              Illinois     11.10
15               Indiana     11.40
16                  Iowa      8.00
17                Kansas      9.30
18              Kentucky     14.30
19             Louisiana     15.20
20                 Maine      7.70
21              Maryland     10.00
22         Massachusetts      9.60
23              Michigan      9.50
24             Minnesota      7.00
25           Mississippi     16.10
26              Missouri     10.40
27               Montana      6.80
28              Nebraska      8.90
29                Nevada     13.70
30         New Hampshire      7.10
31            New Jersey     10.50
32            New Mexico     14.70
33              New York     13.50
34        North Carolina     12.60
35          North Dakota      7.50
36                  Ohio      9.90
37              Oklahoma     12.20
38                Oregon      9.60
39          Pennsylvania      9.80
40          Rhode Island     12.00
41        South Carolina     12.90
42          South Dakota      8.30
43             Tennessee     13.00
44                 Texas     16.80
45                  Utah      8.00
46               Vermont      7.40
47              Virginia     10.70
48            Washington      8.90
49         West Virginia     13.50
50             Wisconsin      8.10
51               Wyoming      7.10

Let's ensure our values (Clean17) are all floats:

In [114]:
Clean16['2014-2018'] = Clean16['2014-2018'].astype(float)

Rename as 'Final and check the data is what we want!

In [115]:
Final = Clean16
Final['2014-2018']

1     14.2
2      7.3
3     13.2
4     13.8
5     17.1
6      8.6
7      9.5
8     10.2
9      9.4
10    12.0
11    13.3
12     8.2
13     9.4
14    11.1
15    11.4
16     8.0
17     9.3
18    14.3
19    15.2
20     7.7
21    10.0
22     9.6
23     9.5
24     7.0
25    16.1
26    10.4
27     6.8
28     8.9
29    13.7
30     7.1
31    10.5
32    14.7
33    13.5
34    12.6
35     7.5
36     9.9
37    12.2
38     9.6
39     9.8
40    12.0
41    12.9
42     8.3
43    13.0
44    16.8
45     8.0
46     7.4
47    10.7
48     8.9
49    13.5
50     8.1
51     7.1
Name: 2014-2018, dtype: float64

In [116]:
Final['States']

1                  Alabama
2                   Alaska
3                  Arizona
4                 Arkansas
5               California
6                 Colorado
7              Connecticut
8                 Delaware
9     District of Columbia
10                 Florida
11                 Georgia
12                  Hawaii
13                   Idaho
14                Illinois
15                 Indiana
16                    Iowa
17                  Kansas
18                Kentucky
19               Louisiana
20                   Maine
21                Maryland
22           Massachusetts
23                Michigan
24               Minnesota
25             Mississippi
26                Missouri
27                 Montana
28                Nebraska
29                  Nevada
30           New Hampshire
31              New Jersey
32              New Mexico
33                New York
34          North Carolina
35            North Dakota
36                    Ohio
37                Oklahoma
38                  Oregon
39            Pennsylvania
40            Rhode Island
41          South Carolina
42            South Dakota
43               Tennessee
44                   Texas
45                    Utah
46                 Vermont
47                Virginia
48              Washington
49           West Virginia
50               Wisconsin
51                 Wyoming
Name: States, dtype: object

This all looks fine so let's export it as a CSV:

In [118]:
Final.to_csv(r'sample_data\Education.csv', index = False)